/* src/styles.css */

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4e4b4b;
  padding: 0.5rem 1rem;
}

.header h1 {
  margin: 0;
}

.menu-icon {
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: #4e4b4b;
  padding: 1rem;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 1.5rem;
  font-size: 18px;
  font-weight: 600;
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.sidebar-nav a:hover,
.sidebar-nav a.active {
  color: #f7f3f3;
  font-weight: bold;
}

/* Main container */
.main-container {
  display: flex;
  height: 82vh;
}

/* Footer */
.footer {
  text-align: center;
  background-color: #4e4b4b;
  padding: 0.5rem 1rem;
}
.footer p {
  font-size: 1rem;
}
body {
  background-color: #757474;
}
.loginContainer {
  border: 2px solid black;
  border-radius: 36px;
  height: 85vh;
}
.loginContainer input {
  padding: 3px;
  border-radius: 15px;
  padding-left: 30px;
}
.loginContainer select {
  padding: 3px;
  border-radius: 15px;
  padding-left: 30px;
}
.loginContainer label {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: 600;
  padding-left: 11px;
}
.loginContainer button {
  padding: 5px;
  width: 100px;
  font-weight: 600;
  border-radius: 10px;
}
.loginContainer p {
  padding-top: 5px;
  font-weight: 500;
  font-style: oblique;
}
.error {
  color: red;
  font-style: italic;
  font-size: 14px;
}
legend {
  font-size: 1rem !important;
}
.fieldContainer {
  height: 100%;
}
fieldset label {
  margin-bottom: 0;
}
input[name="opening_days"] {
  margin-right: 1rem;
  vertical-align: middle;
}
/* Restaurant.css */
.table-container {
  overflow: hidden; /* Hide any content that overflows the container */
  max-height: 400px; /* Set the desired height for the tbody container */
  position: relative;
}

.scrollable-tbody {
  overflow-y: scroll; /* Enable vertical scrolling when tbody content exceeds height */
}
.resturantForm {
  height: 70%;
}
.resturantForm > div {
  height: 100%;
}

.dropzone {
  border: 2px dashed #cccccc;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropzone-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
